
body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #6d5240; /* Light grey background */
  color: #e6e3e3; /* Black text */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* General Styles */
header {
  text-align: center;
}

section {
  width: 80%;
  margin: 20px auto;
  background-color: #6d5240; /* Light grey background for sections */
  padding: 20px;
}

h1, h2, h3 {
  color: #000; /* Black text for headers */
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
}

img {
  width: 30px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px; /* Add some spacing between the image and text */
}

p {
  margin-bottom: 10px;
}

footer {
  background-color: #8c635c; /* Brown */
  color: #fff; /* White text */
  text-align: center;
  padding: 10px 0;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  section {
    width: 90%; /* Adjust width for smaller screens */
  }
}
